body {
    font-family: sans-serif;
    background: #21252b;
    color: #9da5b4;
    max-width: calc(100vw - 16px);
}
h1, h2, h3 {
    color: #babec4;
}
a, a:active, a:link, a:visited {
    text-decoration: underline;
    color: inherit;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #3c424e;
    margin: 0.2em 1em 0.2em 1em;
    padding: 0.8em;
    text-decoration: none;
    border-radius: 0.3em;
    border: 1px solid #181a1f;
    color: #9da5b4;
}
a:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    color: #babec4;
}
table {
    border-collapse: collapse;
    margin: 0.2em 1em 0.2em 1em;
    /*max-width: calc(100vw - 2em);*/
    display: block; /* Patch for max-width to work */
    overflow-x: auto; /* Scrollable when too large */
}
td {
    text-align: left;
    padding: 0.3em;
}
thead td {
    font-weight: bold;
    text-align: center;
    background-color: #3a3f4b;
    color: #babec4;
}
tr:nth-child(even) {
    background-color: #3a3f4b;
    color: #d7dae0;
}
td a, td a:active, td a:link, td a:visited {
    text-decoration: none;
}
p.nerd {
    font-size: smaller;
}
